body {
    background-image: url(/photo/eps\ backround.jpg ); /* Путь к фоновому изображению */
  
}

 header {
     background-color: lightblue;
     display: block;
 }   
div {
    float: none;
height: 100px;
}
.id {
    background-color: rgb(9, 120, 218);
}
table {
height: 25px;
margin-top: -15px;
}
tbody {
    height: 60px;
    background-color: none;
}
img {
margin-left: 50px;
height: 70px;

}
 nav {
    display: block;
 }
.menu {
    background-color: #1c3a52 ;
margin-bottom: 100px;

}
ul {
font-family:  Arial, sans-serif;
font-size: 13px;
list-style: none;
background-color: #1c3a52;
height: 50px;
margin-left: 0px;
margin-top: -20px;
width: 100%;
}

a {
    color: beige;
    text-decoration: none;
    line-height: 50px;
    padding: 0 25px;
    border-right: 2px solid #1c3a52;
    transition: .3s all ease;
    display: block;
    margin-left: 100px 50px;
    
}
a:hover{
    background-color: #26567d;
}
li {
    float: left;
   
}
footer {
 
width: 20px;
height: 60px;
background-color: crimson;

}